Celery
Django
django-celery-beat
django-celery-results
dj-database-url
django-qstash
jupyter
langchain
langchain-brightdata
langchain-community
langchain-google-genai
langgraph
pre-commit
psycopg[binary]
python-dotenv
rav
